<div class="dataTable_wrapper">

    <legend class="section" style="font-weight: 600;"> Respostas</legend>
    <div style="float: right">
        <a href="#/resposta-form" class="btn btn-primary">Novo <i class="fa fa-plus"></i></a>
    </div>

    <table go-data-table edit-url="#/resposta-form" ajax="api/answers/paginate" id="dt-list" class="display table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr class="tr-cabecalho">
            <th go-data-table-item name="id" style="width: 5%">Código</th>
            <th go-data-table-item name="description">Descrição</th>
            <th go-data-table-item name="type">Tipo</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
        </tr>
        <tr class="tr-filtros">
            <th style="width: 10%;"><input id="id-search" restrict-to="[0-9]" type="text" placeholder="Código"/></th>
            <th style="width: 50%;"><input id="description-search" type="text" style="width: 100%;" placeholder="Descrição"/></th>
            <th style="width: 30%;">
                <select id="type-search" ng-model="answer.type" data-placeholder="Selecione o tipo" class="form-control" >
                    <option value="">Filtrar por Tipo</option>
                    <option ng-repeat="t in types"  value="{{t.id}}">{{t.method}}</option>
                </select>
            </th>
            <th style="width: 10%;">Editar</th>
            <th style="width: 10%;">Remover</th>
        </tr>
        </thead>
    </table>
</div>