<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Edição de Resposta</legend>
    <div style="float: right;">
        <button class="btn btn-success" ng-disabled="frm.$invalid" ng-click="save()"  >Salvar <i class="fa fa-plus"></i></button>
        <a href="#/resposta" class=" btn btn-primary" >Voltar <i class="fa fa-reply"></i></a>
    </div>
    <div class="row" style="padding-top:3em;">
        <legend class="section" style="font-weight: 600;"></legend>
        <form novalidate name="frm" id="frm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" id="description" name="description" ng-model="answer.description" maxlength="50" placeholder="Informe a descrição." autofocus required />
                        <span  style="color: #a94442;" ng-show="frm.description.$error.required && frm.description.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="type-search">Tipo</label>
                        <select id="type-search" ng-model="answer.type.id" data-placeholder="Selecione o tipo" class="form-control" required >
                            <option value="">Filtrar por Tipo</option>
                            <option ng-repeat="t in types"  value="{{t.id}}">{{t.method}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.type-search.$error.required && frm.type-search.$dirty">Campo Obrigatório</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="txValue">Valor</label>
                        <textarea rows="6" class="form-control" id="txValue" name="txValue" ng-model="answer.value" maxlength="2000" placeholder="Informe o valor de resposta." required  ></textarea>
                        <span  style="color: #a94442;" ng-show="frm.txValue.$error.required && frm.txValue.$dirty">Campo Obrigatório</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>