<div class="dataTable_wrapper">

    <legend class="section" style="font-weight: 600;"> Membros</legend>
    <div style="float: right">
        <a href="#/membro-form" class="btn btn-primary">Novo <i class="fa fa-plus"></i></a>
    </div>

    <table go-data-table edit-url="#/membro-form" ajax="api/members/paginate" id="dt-list" class="display table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr class="tr-cabecalho">
                <th go-data-table-item name="id" style="width: 5%">Código</th>
                <th go-data-table-item name="name">Nome</th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
            </tr>
            <tr class="tr-filtros">
                <th style="width: 10%;"><input id="id-search" restrict-to="[0-9]" type="text" placeholder="Código"/></th>
                <th style="width: 50%;"><input id="name-search" type="text" style="width: 100%;" placeholder="Nome"/></th>
                <th style="width: 10%;">Editar</th>
                <th style="width: 10%;">Remover</th>
            </tr>
        </thead>
    </table>
</div>