<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Edição de Pergunta</legend>
    <div style="float: right;">
        <button class="btn btn-success" ng-disabled="enableSave()" ng-click="save()"  >Salvar <i class="fa fa-plus"></i></button>
        <a href="#/pergunta" class=" btn btn-primary" >Voltar <i class="fa fa-reply"></i></a>
    </div>
    <div class="row" style="padding-top:3em;">
        <legend class="section" style="font-weight: 600;"></legend>
        <form novalidate action="" name="frm" id="frm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="text">Texto</label>
                        <input type="text" class="form-control" id="text" name="method" ng-model="question.text" maxlength="50" placeholder="Informe o texto." autofocus required />
                        <span  style="color: #a94442;" ng-show="frm.text.$error.required && frm.text.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="type">Modo de Identificação</label>
                        <select id="type" ng-model="question.type" data-placeholder="Modo de identificação" class="form-control" required >
                            <option value="">Selecione o modo de identificação</option>
                            <option ng-repeat="t in types"  value="{{t.id}}">{{t.value}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.type.$error.required && frm.type.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="type">Tempo Vida</label>
                        <select class="form-control" data-placeholder="Tempo de vida" id="expire"
                                ng-model="question.expire" required>
                            <option value="">Selecione o tempo</option>
                            <option value="0">Infinito</option>
                            <option value="1">1 Minuto</option>
                            <option value="3">3 Minutos</option>
                            <option value="5">5 Minutos</option>
                            <option value="10">10 Minutos</option>
                            <option value="15">15 Minutos</option>
                            <option value="20">20 Minutos</option>
                            <option value="30">30 Minutos</option>
                            <option value="60">1 hora</option>
                            <option value="120">2 horas</option>
                            <option value="180">3 horas</option>
                            <option value="300">5 horas</option>
                            <option value="480">8 horas</option>
                            <option value="600">10 horas</option>
                            <option value="720">12 horas</option>
                            <option value="1440">24 horas</option>
                        </select>
                        <span ng-show="frm.expire.$error.required && frm.expire.$dirty" style="color: #a94442;">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="checkbox-bootstrap checkbox-lg">
                            <input type="checkbox" ng-model="question.enable">
                            <span class="checkbox-placeholder"></span>Ativo
                        </label>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="answer">Resposta</label>
                            <select id="answer" ng-model="answer" data-placeholder="Resposta" class="form-control">
                                <option value="">Selecione a Resposta</option>
                                <option ng-repeat="t in answers"  value="{{t}}">{{t.description}}</option>
                            </select>
                        </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" type="button" ng-disabled="!enableAddAnswer()" ng-click="addAnswer(answer);" style="margin-top: 20px;" >Add <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Resposta</th>
                                        <th>Tipo</th>
                                        <th style="width: 5% ; min-width: 80px;">Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="e in question.answers">
                                        <td>{{ e.description }}</td>
                                        <td>{{ e.type.method}}</td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="removeAnswer($index)" > <i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>