<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Edição de Agendamento</legend>
    <div style="float: right;">
        <button class="btn btn-success" ng-disabled="enableSave()" ng-click="save()"  >Salvar <i class="fa fa-plus"></i></button>
        <a href="#/agendamento" class=" btn btn-primary" >Voltar <i class="fa fa-reply"></i></a>
    </div>
    <div class="row" style="padding-top:3em;">
        <legend class="section" style="font-weight: 600;"></legend>
        <form novalidate action="" name="frm" id="frm">
            {{$scope.frm.$invalid}}
            <div class="container">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" id="description" name="description" ng-model="task.description" maxlength="50" placeholder="Informe a descrição." autofocus required />
                        <span  style="color: #a94442;" ng-show="frm.description.$error.required && frm.description.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-3 form-group bootstrap-timepicker timepickers">
                        <label for="time">Horário</label>
                        <select id="time" ng-model="task.time" data-placeholder="Horário" class="form-control" required >
                            <option value="">Selecione o horário</option>
                            <option ng-repeat="h in times"  value="{{h.id}}">{{h.id}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.time.$error.required && frm.time.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="type">Tempo Vida</label>
                        <select class="form-control" data-placeholder="Tempo de vida" id="expire" ng-model="task.expire"
                                required>
                            <option value="">Selecione o tempo</option>
                            <option value="0">Infinito</option>
                            <option value="1">1 Minuto</option>
                            <option value="3">3 Minutos</option>
                            <option value="5">5 Minutos</option>
                            <option value="10">10 Minutos</option>
                            <option value="15">15 Minutos</option>
                            <option value="20">20 Minutos</option>
                            <option value="30">30 Minutos</option>
                            <option value="60">1 hora</option>
                            <option value="120">2 horas</option>
                            <option value="180">3 horas</option>
                            <option value="300">5 horas</option>
                            <option value="480">8 horas</option>
                            <option value="600">10 horas</option>
                            <option value="720">12 horas</option>
                            <option value="1440">24 horas</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="checkbox-bootstrap checkbox-lg">
                            <input type="checkbox" ng-model="task.enable">
                            <span class="checkbox-placeholder"></span>Ativo
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="type">Tipo de Agendamento</label>
                        <select id="type" ng-model="task.type" data-placeholder="Tipo de Agendamento" class="form-control" required >
                            <option value="">Selecione o tipo de agendamento</option>
                            <option ng-repeat="t in types"  value="{{t.id}}">{{t.value}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.type.$error.required && frm.type.$dirty">Campo Obrigatório</span>
                    </div>
                    <div ng-show="showDatePicker()" class="col-md-2 form-group">
                        <label for="date">Data</label>
                        <input type="text" data-provide="datepicker" class="form-control" id="date" name="date" ng-model="tmp.date" maxlength="50" placeholder="Informe a data." ng-required="showDatePicker()" />
                        <span  style="color: #a94442;" ng-show="frm.date.$error.required && frm.date.$dirty">Campo Obrigatório</span>
                    </div>
                    <div ng-show="showWeek()" class="col-md-3 form-group">
                        <label for="week">Dia da Semana</label>
                        <select id="week" ng-model="tmp.week" data-placeholder="Dia da semana" class="form-control" ng-required="showWeek()" >
                            <option value="">Selecione o dia da semana</option>
                            <option ng-repeat="w in weeks"  value="{{w.id}}">{{w.value}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.week.$error.required && frm.week.$dirty">Campo Obrigatório</span>
                    </div>
                    <div ng-show="showMonth()" class="col-md-3 form-group">
                        <label for="month">Mês</label>
                        <select id="month" ng-model="tmp.month" data-placeholder="Dia da semana" class="form-control" ng-required="showMonth()">
                            <option value="">Selecione o mês</option>
                            <option ng-repeat="m in months"  value="{{m.id}}">{{m.value}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.month.$error.required && frm.month.$dirty">Campo Obrigatório</span>
                    </div>
                    <div ng-show="showDay()" class="col-md-3 form-group">
                        <label for="day">Dia</label>
                        <select id="day" ng-model="tmp.day" data-placeholder="Dia" class="form-control" ng-required="showDay()" >
                            <option value="">Selecione o dia</option>
                            <option ng-repeat="d in days"  value="{{d.id}}">{{d.id}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.day.$error.required && frm.day.$dirty">Campo Obrigatório</span>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="answer">Resposta</label>
                            <select id="answer" ng-model="answer" data-placeholder="Resposta" class="form-control">
                                <option value="">Selecione a Resposta</option>
                                <option ng-repeat="t in answers"  value="{{t}}">{{t.description}}</option>
                            </select>
                        </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" type="button" ng-disabled="!enableAddAnswer()" ng-click="addAnswer(answer);" style="margin-top: 20px;" >Add <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Resposta</th>
                                        <th>Tipo</th>
                                        <th style="width: 5% ; min-width: 80px;">Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="e in task.answers">
                                        <td>{{ e.description }}</td>
                                        <td>{{ e.type.method}}</td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="removeAnswer($index)" > <i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
